Structure/~$structure.pptx
.idea/
*.pyc
doc/build/doctrees/
doc/build/html/
modesto.egg-info/
*checkpoint.ipynb
*.log
*.rej
build/
dist/
.pytest_cache/
.eggs/
*.lp
misc/RepresentativePeriods/logs/
misc/RepresentativePeriods/comparison/
misc/RepresentativePeriodsMILP/comparison/
venv/